<p id="notice"><%= notice %></p>

<h1>Search</h1>

<%= form_tag(search_show_path, :method => "get", id: "search-form") do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Courses ... " %>
    <%= select_tag :selected_subject, options_from_collection_for_select(Subject.all, :id, :get_subject_name), {prompt: 'Select Subject...'} %>
  </p>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>

        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
