<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% if @results.any? %>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.code %></td>
          <td><%= result.name%></td>
          <td><%= button_to 'Enroll', enrollments_path(course_id: result) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Back', searches_path %>
