<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_h("Course Name", :name, f) %>
  <%= field_h("Course Code", :code, f) %>
  <%= field_h("Desription", :description, f) %>

  <!-- Title: <%= f.text_field :title %>
  Description <%= f.text_field :description %>
  Owner: <%= f.text_field :owner %> -->

  <!-- Category: <%= f.text_field :category_id %>

  <%= f.submit %> -->

  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
