<!DOCTYPE html>
<html>
<head>
  <title>CourseCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <% if session[:user_id].nil? %>
      <li><%= link_to "Home", users_path %><li>
    <% else %>
      <li><%= link_to "Home", user_path(session[:user_id]) %><li>
    <% end %>
    <li><%= link_to "Course", courses_path %><li>
    <li><%= link_to "Subject", subjects_path %><li>
    <li><%= link_to "Instructor", instructors_path %><li>
    <li><%= link_to "Search", search_courses_path %><li>
      <% if session[:user_id] %>
       <li><%= link_to "Logout", sessions_destroy_path %><li>
      <% else %>
        <li><%= link_to "Login", login_path %><li>
      <% end %>
  </ul>

<%= yield %>
</div>
</body>
</html>
