<!DOCTYPE html>
<html>
<head>
  <title>CourseCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to "Home", homes_path %><li>
    <li><%= link_to "Course", courses_path %><li>
    <li><%= link_to "Subject", subjects_path %><li>
    <li><%= link_to "Instructor", instructors_path %><li>
    <li><%= link_to "Logout", root_path %><li>
  </ul>

<%= yield %>
</div>
</body>
</html>
